<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div ngbDropdown class="col-12">
    <div class="btn-group">
      <button type="button" ngbDropdownToggle class="btn btn-primary">
        Manage Recipe<span class="caret"></span>
      </button>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li ngbDropdownItem class="dropdown-item"><a href="#">Add to Shopping List</a></li>
        <li ngbDropdownItem class="dropdown-item"><a href="#">Edit Recipe</a></li>
        <li ngbDropdownItem class="dropdown-item"><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>